.earnings-bg:before {
  content: "";
  background: url("../../../../assets/images/download.png") left 150px center /
    cover no-repeat;
}
.mat-body-1 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-family: DM Sans;
  letter-spacing: normal;
  margin: 0;
  color: #2a3547;
}
