<div class="blank-layout-container justify-content-center">
    <div class="row">
        <div class="col-12 text-center error-card">
            <h1>404</h1>
            <h2 class="f-s-24 m-b-20 f-w-500">Page Not Found !</h2>
            <p class="f-s-15 m-b-30 f-w-400"> You seem to be trying to find this way to home </p>
            <a mat-flat-button="" color="primary" routerLink="/login" routerLinkActive="router-link-active"
                class="mdc-button mdc-button--unelevated mat-mdc-unelevated-button mat-primary mat-mdc-button-base"
                aria-disabled="false" mat-button-is-fab="false"><span
                    class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span
                    class="mdc-button__label">Back to Home</span><span class="mat-mdc-focus-indicator"></span><span
                    class="mat-mdc-button-touch-target"></span><span class="mat-mdc-button-ripple"></span></a>
        </div>
    </div>
</div>